.card {
  background: #ffcb05;
  display: inline-grid;
  padding: 0px;
  text-align: center;
  margin-left: 10px; 
  color: black;
  font-size: 18px;
  font-weight: 400;
  
 
  } 

  #main {
    box-sizing: border-box;
    text-align: center;
  }

.input-text {
  text-align: center;
  color: whitesmoke;
}



