.card {
  background: #ffcb05;
  display: inline-grid;
  padding: 0px;
  text-align: center;
  margin-left: 10px; 
  color: #3c5aa6;
  
  } 

  #main {
    box-sizing: border-box;
    text-align: center;
  }